In [1]:
'''
Hello world
'''
print("Hello World!")

Hello World!

In [13]:
'''
Input
There are several ways to present the output of a program; 
data can be printed in a human-readable form, or written 
to a file for future use. This chapter will discuss some of the possibilities.
'''
your_input = input()

lam
Your name is lam

In [14]:
'''
Output using the print() function
To output your data to the screen, use the print() function. Y
ou can write print(argument) and this will print the argument 
in the next line when you press the ENTER key.
'''
print("Your name is " +your_input)

Your name is lam

In [10]:
'''
Think of a variable as a name attached to a particular object. 
In Python, variables need not be declared or defined in advance,
as is the case in many other programming languages. 
To create a variable, you just assign it a value and then start using it.
Assignment is done with a single equals sign (=):
'''
n = 300
print(n)
'''
Later, if you change the value of n and use it again, the new value will 
be substituted instead:
'''
n = "hahaha"
print(n)

300
hahaha

In [ ]:
'''
Officially, variable names in Python can be any length 
and can consist of uppercase and lowercase letters (A-Z, a-z), 
digits (0-9), and the underscore character (_). 
An additional restriction is that, although a variable name can contain digits, 
the first character of a variable name cannot be a digit.
'''
1mkdsm # not valid
s@a@@ # not valid
hi_i_am_lam # valid but bad naming practice - does not make sense

In [8]:
print(300)
'''
When presented with the statement print(300), the interpreter does the following:

Creates an integer object
Gives it the value 300
Displays it to the console
'''

In [9]:
n = 300
'''
First an integer object 300 is created,
then variable n is point to that object
n -> 300
'''

'\nFirst an integer object 300 is created,\nthen variable n is point to that object\nn -> 300\n'

In [ ]:
m = n
'''
What happens when it is executed? 
Python does not create another object.
It simply creates a new symbolic name or reference, m, 
which points to the same object that n points to.
n -> 300 <- m 
'''

In [11]:
m = 400
'''
n -> 300
     400 <- m
a new integer object of 400 is created, and m becomes
a reference to it
'''

'\nn -> 300\n     400 <- m\na new integer object of 400 is created, and m becomes\na reference to it\n'

In [32]:
'''
Data type

int
float
string
list
tuple
dictionary
set
'''

'''
Arithmetic Operators
+, - , * , /, **, %
for int and float
'''

'\nArithmetic Operators\n+, - , * , /, **, %\nfor int and float\n'

In [33]:
3.0, 3 #float vs int, 
3.0+3, 3+3# float + int vs int + int

(3.0, 3)

In [36]:
3-3, 3*3.0, 10/3, 3**3, 10%3, 2.5+3, 4.3%2

0

In [48]:
'''
conmparision
<, >, =, <=, >=, ==, !=
'''
3==3.0, 3>=4, 3<=3

(True, False, True)

In [46]:
3=3 #why this gives an error?

SyntaxError: can't assign to literal (<ipython-input-46-7d6616826413>, line 1)

In [51]:
'''
assignment operators
=, +=, -=, *=, /=, **=, %=
'''
a=7
a

7

In [52]:
a-=1
a

6

In [54]:
a*=2
a

24

In [56]:
a%=3
a

0

In [77]:
'''
logical operators
and, or, not
'''
True and True, True and False, False and False

(True, False, False)

In [78]:
True or True, True or False, False or False

(True, True, False)

In [60]:
not True, not False

(False, True)

In [68]:
True and False or False or False

False

In [58]:
7>7 and 2>-1

False

In [69]:
not(0)

True

In [70]:
not(1)

False

In [71]:
1==True

True

In [72]:
0==False

True

In [74]:
'''
String Literals
String literals in python are surrounded by either single quotation marks, 
or double quotation marks.

'hello' is the same as "hello".

Strings can be output to screen using the print function. For example: print("hello").

Like many other popular programming languages, 
strings in Python are arrays of bytes representing unicode characters. 
However, Python does not have a character data type, a single character
is simply a string with a length of 1. Square brackets can be used to 
access elements of the string.
'''
a = "Hello, World!"
print(a[1])
'''
Substring. Get the characters from position 2 to position 5 (not included):
'''
b = "Hello, World!"
print(b[2:5])
'''
The strip() method removes any whitespace from the beginning or the end:
'''
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"
'''
The len() method returns the length of a string:
'''
a = "Hello, World!"
print(len(a))
'''
The lower() method returns the string in lower case:
'''
a = "Hello, World!"
print(a.lower())

###what does this do
a = "Hello, World!"
print(a.upper())

###what does this do
a = "Hello, World!"
print(a.replace("H", "J"))

###what does this do
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']
'''
string is immutable
'''
a[1]=2

e
llo
Hello, World!
13
hello, world!
HELLO, WORLD!
Jello, World!
['Hello', ' World!']

TypeError: 'str' object does not support item assignment

In [75]:
'''
List
Python knows a number of compound data types, 
used to group together other values. The 
most versatile is the list, which can be written 
as a list of comma-separated values (items) between 
square brackets. Lists might contain items of 
different types, but usually the items all have the same type.
'''
squares = [1, 4, 9, 16, 25]
'''
Like strings (and all other built-in sequence type), lists can be indexed and sliced:
'''
squares[0]
'''
Negative indexing
'''
squares[-1]
squares[-3:]

'''
Unlike strings, which are immutable, lists are a mutable type, 
i.e. it is possible to change their content:
'''
squares[0]=10
'''
All slice operations return a new list containing the requested elements.
This means that the following slice returns a new (shallow) copy of the list:
'''
squares[:]
'''
append
and pop
'''
squares.append(216)
squares.pop()

216

In [81]:
'''
Type conversion python:
int(2.0)
float(2)
int("2")
str(2)
str(2.0)
str(True)

assignment and type conversion
haha=20
str(haha)
'''

'20'

In [79]:
'''
Recap with fun project
I am going to give an input that is integer_1 , integer_2
print True if integer_1 > integer_2,
if not, print False
'''
string_input = input()
a,b = string_input.split(',')
print(int(a)>int(b))

1,3
False

In [ ]:
'''
now I want you to make a tip caculator
You just finished eating at a restaurant, and received this bill:

Cost of meal: $44.50

Restaurant tax: 6.75%

Tip: 15%

You will have 3 input statements, 

first one:

What is your meal cost?

second one:

What is the restaurant tax?

third one:

How much do you want to tip?

And your program will print:

Your total cost for the meal is .... dollars. 
'''